<meta name="viewport" content="width=device-width, initial-scale=1">
<header>
  <nav class="navbar">
    <div class="navbar-brand">
      <a href=<%= pets_path %>>
        <%= image_tag "logo.png", class: "logo" %>
      </a>
    </div>
    <div class="navbar-start">
      <div class="navbar-item">
        <div class="title is-1">Найди себе друга!</div>
      </div>
    </div>
    <div class="navbar-end">
      <div class="navbar-item">
        <div class="buttons">
          <%= link_to 'Добавить друга', new_pet_path, class: "button is-primary" %>
        </div>
      </div>
    </div>
  </nav>
</header>

<main>
  <div class="grid-container">
    <% @pets.each do |pet| %>
      <figure class="grid-item box image">
        <%= image_tag(pet.avatar) %>
        <figcaption>
          <span>
            <span class="name subtitle"><%= pet.name %></span>
            <span class="icon">
              <%=
                pet.kind == 'c' ? content_tag(:span, nil, class: "fas fa-cat") : content_tag(:span, nil, class: "fas fa-dog")
              %>
            </span>
            <span class="icon">
              <%=
                pet.sex == 'm' ? content_tag(:span, nil, class: "fas fa-mars") : content_tag(:span, nil, class: "fas fa-venus")
              %>
            </span>
          </span>
      <div class="description">
        <%= pet.description %>
      </div>
      </figcaption>
      <%#= link_to 'Show', pet_path(pet) %>
      </figure>
    <% end %>
    </div>
    </main>

<footer class="footer">
  <div class="content has-text-right">
    Сделано <strong>sbkubric</strong>.
    <a href="https://www.github.com/sbkubric">GitHub</a>
    2019
  </div>
</footer>